<h2>{{titulo}}</h2>
<p>{{listado}}</p>
<table class="table table-dark table-striped table-borderless">
   <thead class="thead-dark">
      <tr>
         <th>Nombre</th>
         <th>Marca</th>
         <th>Precio</th>
         <th>Color</th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let tenis of zapatilla">
         <td *ngIf="tenis.stock">{{tenis.nombre}}</td>
         <td *ngIf="tenis.stock">{{tenis.marca}}</td>
         <td *ngIf="tenis.stock">{{tenis.precio}}</td>
         <td *ngIf="tenis.stock">{{tenis.color}}</td>
      </tr>
   </tbody>
</table>